body{
    font-family: sans-serif;
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.box1{
    margin: 16%;
    top: 20%;
    left: 30%;
    border: 2px groove #6AE11E;
    width: 30%;
  
   padding: 20px;
}
.box2{

    border: 2px dashed #1ECBE1;
    width: 85%;
  
   padding: 20px;
}
.box3{
    border: 2px dotted #961EE1;
    width: 80%;
    text-align: center;
   padding:20px;
}